<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>

<% include ../partials/header %>

<div class="container-fluid">
  <div class="jumbotron text-center">
      <a href="/users/login" class="btn btn-default"><span class="fa fa-user"></span>Login</a> or
      <a href="/users/signup" class="btn btn-success"><span class="fa fa-user"></span>Signup</a>
  </div>
</div>

<% include ../partials/footer %>
