<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>

<% include partials/header %>

<div class="container-fluid">
  <p>This is the index page. Click <a href="/items">here</a> to go to the items page.</p>
</div>

<% include partials/footer %>

</body>
</html>
